<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Company example • Pico.css</title>
    <meta
      name="description"
      content="A classic company or blog layout with a sidebar. Built with Pico CSS." />
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
    <link rel="canonical" href="https://picocss.com/examples/company/" />

    <!-- Pico.css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />

    <!-- Custom styles for this example 
    <link rel="stylesheet" href="custom.css" /> -->
  </head>

  <body>
    <!-- Hero -->
    <div class="hero container" data-theme="dark">
      <nav class="container-fluid">
        <ul>
          <li>
            <a href="./" class="contrast" onclick="event.preventDefault()"
              ><strong>SHTB</strong></a
            >
          </li>
        </ul>
        <ul>
          <li>
            <details role="list" dir="rtl">
              <summary aria-haspopup="listbox" role="link" class="contrast">
                Theme
              </summary>
              <ul role="listbox">
                <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                <li><a href="#" data-theme-switcher="light">Light</a></li>
                <li><a href="#" data-theme-switcher="dark">Dark</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </nav>
    </div>
    <!-- ./ Hero -->

    <!-- Main -->
    <main class="container">
      <div class="grid">
        <article>
          <p>
            <a href="/img-generate">Image Generate</a><br />
            <small>Generate a basic image with a text inside it.</small>
          </p>
          <a href="#" aria-label="Example" onclick="event.preventDefault()"
            ><img
              src="img/daniel-von-appen-tb4heMa-ZRo-unsplash-1500-750.jpg"
              alt="Architecture"
          /></a>
        </article>

        <article>
          <p>
            <a href="/word">Word Tool</a><br />
            <small
              >Count no of words, Sentences and characters in a text.</small
            >
          </p>
          <a href="/word" aria-label="Example" onclick="event.preventDefault()"
            ><img
              src="img/matthew-hamilton-Ru3Ap8TNcsk-unsplash-1500-750.jpg"
              alt="Architecture"
          /></a>
        </article>
      </div>
    </main>
    <!-- ./ Main -->

    <!-- ./ Subscribe -->

    <!-- Footer -->
    <footer class="container">
      <small
        >Built with <a href="https://picocss.com">Pico</a> •
        <a href="https://github.com/picocss/examples/tree/master/v1-company/"
          >Source code</a
        ></small
      >
    </footer>
    <!-- ./ Footer -->

    <!-- Minimal theme switcher -->
    <script src="{{ url_for('static', filename='js/minimal-theme-switcher.js') }}"></script>
  </body>
</html>
