{% extends "_base.html" %} 

{% block head %}
<style>
  .output-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    padding: 1rem;
    flex-wrap: wrap;
  }

  .output {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .output p {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .output span {
    font-size: 1.6rem;
    font-weight: 700;
    color: #242e3e;
  }

</style>
{% endblock head %}

{% block content %}
<h3>Word Count</h3>
<section class="">
  <textarea 
    placeholder="Enter your text here..." 
    rows="30"
    class="flex min-h-[80px] rounded-md border border-input px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-1/2 mx-auto h-3/4 mt-2"
    ></textarea>

  <section class="output-container">
    <div class="output">
      <p class="words">Words</p>
      <span data-word-count>0</span>
    </div>
    <div class="output">
      <p class="characters">Characters</p>
      <span data-character-count>0</span>
    </div>
    <div class="output">
      <p class="sentences">Sentences</p>
      <span data-sentence-count>0</span>
    </div>
    <div class="output">
      <p class="paragraphs">Paragraphs</p>
      <span data-paragraph-count>0</span>
    </div>
  </section>
</section>
{% endblock content %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/wordCount.js') }}"></script>
{% endblock scripts %}
